    .table>:not(caption)>*>* {
        padding: .5rem .5rem !important;
        vertical-align: middle;
    }

    table tr td p.btn-yes {
        padding: 5px 20px;
        background-color: #007d00;
        color: white;
        display: inline;
        border-radius: 5px;
    }

    table tr td p.btn-no {
        padding: 5px 20px;
        background-color: #af0000;
        color: white;
        display: inline;
        border-radius: 5px;
    }

    table tr td .btn-brown {
        padding: 5px 20px;
        background-color: #802a2a;
        color: white;
        display: inline;
        border-radius: 5px;
    }

    table tr td input.btn-order {
        padding: 5px 20px;
        background-color: #3535ff;
        color: white;
        display: inline;
        border-radius: 5px;
    }

    table tr td input.custom-input {
        max-width: 100px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid gray;
    }

    .custom-dropdown.dropdown {
        position: relative;
        display: inline-block;
    }

    .custom-dropdown.dropdown {
        background-color: #ffffff;
        color: #000000;
        padding: 5px 10px;
    }

    .custom-dropdown.dropdown span i {
        font-size: 10px !important;
    }

    .custom-dropdown .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        padding: 12px 0;
        z-index: 1;
        right: 0;
    }

    .custom-dropdown.dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }

    .custom-dropdown.dropdown:hover .dropdown-content a {
        display: inline-block;
        background-color: #ffffff;
        color: #000000;
        padding: 10px 10px;
    }

    .custom-dropdown.dropdown:hover .dropdown-content a:hover {
        background-color: #b9b9b9;
        color: #ffffff;
    }

    .head-block {
        display: flex;
    }

    input[type] {
        background-color: transparent;
        max-width: 170px;
    }

    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    .code-root {
        display: flex;
        flex-direction: column;
    }

    .code-root textarea {
        width: 100%;
        min-height: 300px;
        background-color: transparent;
        color: #ffffff;
    }

    select {
        background-color: transparent;
        width: 100%;
    }